<div class="form-horizontal">
    <div class="form-group has-feedback {{if item.isValid 'has-success'}}">
        <label class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          {{input type="text" value=item.title class="form-control" placeholder="Note Title"}}
          {{#if item.isValid}}<span class="glyphicon glyphicon-ok form-control-feedback"></span>{{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Note</label>
        <div class="col-sm-10">
          {{textarea name="content" value=item.content cols="30" rows="10" class="form-control" placeholder="Write your note here...."}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
            {{#if item.tags.name}}
                {{input type="text" value=item.tags.name placeholder="Add a Tag" class="form-control"}}
            {{else}}
                {{input type="text" value=newTagName placeholder="Add a Tag" class="form-control"}}
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" disabled={{unless item.isValid true}} class="btn btn-default" {{action 'buttonClicked' item newTagName}} >{{buttonLabel}}</button>
        </div>
    </div>
</div>