
    {{!-- <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{item.createdOn}}</h6>
    <p class="card-text">{{content}}</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
   --}}

  <div class="tile_container">
    <div class="panel-heading">
      <div class="panel-title">
          <h3 class="note-title"><strong>{{title}}</strong></h3>
      </div>
        
      <div class="tile-tags">
          {{#each item.tags as |tag|}}
         <span class="badge badge-pill badge-warning" id="badges">
            {{tag.name}}<button type="button" class="close" aria-label="Close" {{action 'deleteTag' tag}}>
  <span aria-hidden="true">&times;</span>
</button>
        </span> {{/each}} 
      </div>
    </div>
    <div class="panel-body">
        <p id='style_content'>{{content}}</p>
    </div>
    <div class="footer-container">
        <div class="footer-dates">
          {{#if lastEdit}}
            <strong>Last Edit: </strong>{{moment-format lastEdit 'LLL'}}
          {{else}}
            <strong>Last Edit: </strong>No edits have been made.
          {{/if}}
          
         <p>
            <strong>Created On: </strong>{{moment-format createdOn 'LLL'}}
         </p>
         
        </div>
        <div class="footer-buttons">
          {{yield}}
        </div>
    </div>    
  </div>
